header {
  margin-bottom: 75px;
}
main {
  padding: 10px;
}
section {
  padding-top: 75px;
  padding-left: 5vw;
  padding-right: 5vw;
}
#About_Me {
  display: flex;
  gap: 1vw;
}
.AboutMeImageContainer {
  width: clamp(210px, 30vw, 1000px);
}
#Experience {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#Projects {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#Skills {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#Contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 50px;
}
.listcontainer {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: clamp(18px, 3vw, 40px);
}
.projectscontainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: flex-start;
}
@media screen and (max-width:870px){
  .projectscontainer {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  
  .listcontainer {
    display: none;
  }
  .listcontainer2
  {
    display: block;
  }
}
@media screen and (min-width: 601px) {
  
  .listcontainer {
    display: flex;
  }
  .listcontainer2
  {
    display: none;
  }
  
}
@media screen and (max-width: 443px) {
  .AboutMeImageContainer {
    width: clamp(50px, 30vw, 1000px);
    height: auto;
  }
  .container {
    font-size: clamp(13px, 3vw, 40px);
  }
  .listcontainer {
    display: none;
  }
  .listcontainer2
  {
    display: block;
  }
  
}
@media screen and (max-width: 340px) {
  .container {
    font-size: clamp(11px, 3vw, 40px);
  }
  .listcontainer {
    display: none;
  }
  .listcontainer2
  {
    display: block;
  }
}
@media screen and (max-width: 293px) {
  .container {
    font-size: clamp(10px, 3vw, 40px);
  }
  .listcontainer {
    display: none;
  }
  .listcontainer2
  {
    display: block;
  }
}
